body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.file-uploader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.file-uploader-box {
  border: 1px dashed #ccc;
  padding: 20px;
  text-align: center;
}

.dropzone {
  /* 드롭존 스타일 */
}

.selected-files {
  margin-top: 20px;
}
